/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo oscuro */
    color: #070707; /* Texto negro */
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: transparent !important; /* Fondo transparente */
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.navbar-toggler {
    margin-left: auto;
    z-index: 1050;
}

.navbar-collapse {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.7); 
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-nav li {
    padding: 5px 0;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Hover colors */
.navbar-nav li:nth-child(1) .nav-link:hover {
    border-bottom: 2px solid #65C8F3;
}

.navbar-nav li:nth-child(2) .nav-link:hover {
    border-bottom: 2px solid #F9B461;
}

.navbar-nav li:nth-child(3) .nav-link:hover {
    border-bottom: 2px solid #B271AD;
}

.navbar-nav li:nth-child(4) .nav-link:hover {
    border-bottom: 2px solid #65C8F3;
}

.navbar-nav li:nth-child(5) .nav-link:hover {
    border-bottom: 2px solid #F9B461;
}

.navbar-nav li:nth-child(6) .nav-link:hover {
    border-bottom: 2px solid #B271AD;
}

.nav-link:hover {
    color: #F8B461;
}

/* Navbar siempre con fondo semi-transparente */
.navbar {
    background-color: rgba(0, 0, 0, 0.9) !important; /* Fondo semitransparente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); 
}




.navbar .logo {
    top: 15px;
}

.navbar .logo img {
    max-width: 80px; 
}

.navbar #title img {
    position: relative;
    z-index: 5;
    max-width: 120px; 
}

/* Pantallas más grandes */
@media (min-width: 768px) {
    /* Ajustes en tablets */
    .navbar .logo {
        top: 20px; /* Ajuste para tablets */
    }

    .navbar .logo img {
        max-width: 90px; 
    }

    .navbar #title img {
        max-width: 130px; 
    }
}

@media (min-width: 992px) {
    #language-selector {
        width: 5%;
        font-size: 14px; 
    }
    /* Ajustes en escritorios */
    .navbar .logo {
        top: 25px;
    }

    .navbar .logo img {
        max-width: 100px;
    }

    .navbar #title img {
        max-width: 150px;
    }

    /* Navbar collapse */
    .navbar-collapse {
        position: static;
        background: transparent;
        padding: 0;
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 30px;
        gap: 20px;
    }

    .nav-link {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

/* Responsividad: ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .navbar .logo img {
        top: 15px; /* Ajuste para dispositivos móviles */
        max-width: 70px; /* Ajuste de tamaño para la cresta */
    }

    .navbar #title img {
        max-width: 110px; /* Tamaño más pequeño del logo en móviles */
    }
}


/* Estilos base - Mobile First */
#language-selector {
    width: 100%; /* Ocupa todo el ancho del contenedor en móviles */
    max-width: 200px; /* Tamaño máximo para pantallas grandes */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente claro */
    border: 1px solid #fff; /* Borde blanco */
    background-color: transparent; /* Fondo transparente */
    color: #fff; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    appearance: none; /* Estilo nativo desactivado */
    margin: 5px auto; /* Centrado */
}


/* Estado de enfoque (cuando el campo está activo) */
#language-selector:focus {
    outline: none; 
}

#language-selector option {
    background-color: transparent; 
    color: #000; 
    padding: 10px; 
    font-size: 14px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}